.container-card {
    text-align: center;
    padding: 50 0;
    .cards {
      display: flex;
      gap: 2rem;
      .cart-parts {
        padding: 50 0;
        text-align: center;
        img {
          width: 100%;
        }
      }
    }
  }
  .container-card2{
      text-align: center;
      padding: 50 0;
      background-color: rgb(255, 187, 0);
      .cards2 {
        display: flex;
        gap: 2rem;
        .cart-parts2 {
          padding: 50 0;
          text-align: center;
          img {
            border-radius: 50%;
          }
        }
      }
    }