.header {
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 50px;
    gap: 50px;
  }
  .container ul {
    display: flex;
    gap: 20px;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .header-btn {
    background-color: white;
    color: black;
  }
}

