*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    outline: none;
    
    list-style-type: none;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.menu{
    display: flex;
    gap: 2rem;
}
.header{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;

   
}

.header ul {
    display: flex ;
    gap: 2rem;
    color: black;
}
button{
    height: 30px;
    width: 90px;
    /* margin-left: 70%; */
    margin-top: 14px;
}
.shop{
    height: 360px;
    max-width: 2000px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.styles{
    display: flex;
    justify-content: center;
    font-size: 4rem;
}
.withthis{
    font-size: 1.3rem;
    text-align: center;
    opacity: 0.6;
}
.card1{
    border: 1px solid black;
    width: 227px;
    height: 350px;
    margin-top: 40px;
}
.card1-1{
   
    height: 150px;
    display: flex;
    text-align: center;
    position: relative;
    font-size: 3rem;
}
.card1-2{
    font-size: 1.5rem;
    text-align: center;
 
   
}
.btn{
   max-width: 100px;
   height: 35px;
   display: flex;
   justify-content: center;
   margin-left: 70px;
   margin-top: 30px;
   
}
.cards{
    display: flex;
   justify-content: space-between;
   flex-wrap: wrap;

   
}
.card1{
    width: 22%;

   
}
.stars{
    font-size: 1rem;
    margin-top: 10px;
}
.btns{
    max-width: 100px;
   height: 35px;
   display: flex;
   justify-content: center;
   margin-left: 70px;
   margin-top: 10px;
}
.empty{
    height: 180px;
    max-width: 2000px;
    background-color: black;
    color: white;
    text-align: center;
font-size: 2rem;
margin-top: 80px;
}
.sale{
width: 30px;
height: 20px;
background-color: black;
color: white;
border: none;
border-radius: 10%;
position: absolute;
left: 85%;
top: 5%;
z-index: 10;
font-size: small;
}
img{
    width: 100%;
}